@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Exo', sans-serif;
}

.input-wrapper {
  margin-bottom: 1em;
}

.input-box {
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 12px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  width: 25%;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.input-box:hover {
  border: 2px solid #ccc;
  transform: scale(1.05);
}

.output-box {
  background-color: #313b49; /* Dark background color */
  color: #d4d4d4; /* Light text color */
  font-family: 'Courier New', Courier, monospace; /* Monospaced font */
  font-size: 14px; /* Font size */
  border: 1px solid #444; /* Border to mimic terminal window */
  border-radius: 15px; /* Slightly rounded corners */
  padding: 20px; /* Padding inside the box */
  margin: 20px auto; /* Centered with margins */
  width: 90%; /* Width of the box */
  max-width: 800px; /* Maximum width */
  overflow-y: auto; /* Enable vertical scrolling */
  white-space: pre-wrap; /* Preserve whitespace and line breaks */
}

.output-box p {
  margin: 0; /* Remove default paragraph margins */
}

.context {
  text-align: center; /* Center align the content */
}

.context {
  width: 100%;
  position: absolute;
  top: 2vh;
  z-index: 1;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
  margin-top: 0.5em;
}

.context form {
  text-align: center;
  color: #fff;
  font-size: 25px;
  z-index: 2;
  margin-top: 0.5em;
}

.format-wrapper {
  margin-bottom: 0.25em;
}

.checkbox-wrapper-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox-wrapper-6 span {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
  font-family: 'Exo', sans-serif;
}
.checkbox-wrapper-6 .tgl {
  display: none;
}
.checkbox-wrapper-6 .tgl,
.checkbox-wrapper-6 .tgl:after,
.checkbox-wrapper-6 .tgl:before,
.checkbox-wrapper-6 .tgl *,
.checkbox-wrapper-6 .tgl *:after,
.checkbox-wrapper-6 .tgl *:before,
.checkbox-wrapper-6 .tgl + .tgl-btn {
  box-sizing: border-box;
  box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.1);
}
.checkbox-wrapper-6 .tgl::-moz-selection,
.checkbox-wrapper-6 .tgl:after::-moz-selection,
.checkbox-wrapper-6 .tgl:before::-moz-selection,
.checkbox-wrapper-6 .tgl *::-moz-selection,
.checkbox-wrapper-6 .tgl *:after::-moz-selection,
.checkbox-wrapper-6 .tgl *:before::-moz-selection,
.checkbox-wrapper-6 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-6 .tgl::selection,
.checkbox-wrapper-6 .tgl:after::selection,
.checkbox-wrapper-6 .tgl:before::selection,
.checkbox-wrapper-6 .tgl *::selection,
.checkbox-wrapper-6 .tgl *:after::selection,
.checkbox-wrapper-6 .tgl *:before::selection,
.checkbox-wrapper-6 .tgl + .tgl-btn::selection {
  background: none;
}
.checkbox-wrapper-6 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 2em;
  height: 1em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-wrapper-6 .tgl + .tgl-btn:after,
.checkbox-wrapper-6 .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
}
.checkbox-wrapper-6 .tgl + .tgl-btn:after {
  left: 0;
}
.checkbox-wrapper-6 .tgl + .tgl-btn:before {
  display: none;
}
.checkbox-wrapper-6 .tgl:checked + .tgl-btn:after {
  left: 50%;
}

.checkbox-wrapper-6 .tgl-light + .tgl-btn {
  background: #557197;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
}
.checkbox-wrapper-6 .tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;
}
.checkbox-wrapper-6 .tgl-light:checked + .tgl-btn {
  background: #34336b;
}

.btn {
  text-transform: uppercase;
}
.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
}
.zoom-in {
  display: inline-block;
  color: rgb(255, 255, 255);
  margin: 20px;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.5s ease 0s;
  border: none;
}
.zoom-in:hover {
  transform: scale(1.1);
}
.zoom-in--purple {
  background: rgb(104, 110, 202);
}

.area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
