<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/styles.css') }}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Red Oxide Transcoder</title>
  </head>
  <body>
    <div class="context">
      <h1>Red Oxide Transcoder</h1>

      <form method="post">
        <label for="permalink">Permalink:</label>
        <input type="text" id="permalink" name="permalink" required /><br />

        <label for="formats">Select Audio Formats:</label><br />

        <div class="checkbox-wrapper-6">
          <input
            class="tgl tgl-light"
            type="checkbox"
            id="flac"
            name="formats"
            value="flac"
          />
          <label class="tgl-btn" for="flac"></label>
          <span>FLAC</span>
          <input
            class="tgl tgl-light"
            type="checkbox"
            id="mp3320"
            name="formats"
            value="mp3320"
          />
          <label class="tgl-btn" for="mp3320"></label>
          <span>MP3 320</span>
          <input
            class="tgl tgl-light"
            type="checkbox"
            id="mp3-v0"
            name="formats"
            value="mp3-v0"
          />
          <label class="tgl-btn" for="mp3-v0"></label><br />
          <span>MP3 V0</span>
        </div>

        <input class="button" type="submit" value="Start Transcoding" />
      </form>
    </div>

    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </body>
</html>
