<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Red Oxide Transcoder</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
  </head>
  <body>
    <div class="context">
      <h1>Red Oxide Transcoder</h1>
      <form method="post" action="/" id="transcode-form">
        <div class="input-wrapper">
          <label for="permalink">Permalink:</label>
          <input
            type="text"
            id="permalink"
            name="permalink"
            required
            class="input-box"
          />
        </div>
        <div class="format-wrapper">
          <label for="formats">Select Audio Formats:</label><br />
        </div>
        <div class="checkbox-wrapper-6">
          <input
            class="tgl tgl-light"
            type="checkbox"
            id="flac"
            name="formats"
            value="flac"
          />
          <label class="tgl-btn" for="flac"></label>
          <span>FLAC</span>
          <input
            class="tgl tgl-light"
            type="checkbox"
            id="mp3320"
            name="formats"
            value="mp3320"
          />
          <label class="tgl-btn" for="mp3320"></label>
          <span>MP3 320</span>
          <input
            class="tgl tgl-light"
            type="checkbox"
            id="mp3-v0"
            name="formats"
            value="mp3-v0"
          />
          <label class="tgl-btn" for="mp3-v0"></label><br />
          <span>MP3 V0</span>
        </div>
        <input
          class="btn zoom-in zoom-in--purple"
          type="submit"
          value="Start Transcoding"
        />
        <input
          type="hidden"
          id="session-id"
          name="session-id"
          value="{{ session_id }}"
        />
      </form>

      <div id="command-output" class="output-box"></div>
    </div>
    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </body>
</html>
